body {
    font-family: 'Courier New', Courier, monospace;
    background-color: cornflowerblue;
}

h1 {
    color: cornsilk;
}

p {
    color:blue;
    font-weight: bold;
}

.login-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

section {
    width: max-content;
    border:2px;
    border-color: azure;
    border-style: solid;
    background-color: navy;
    color: orange;
}

article {
    width: min-content;
    border:3px;
    border-color:gray;
    border-style: dotted;
    background-color: cadetblue;
    color: blue;
}